$prim-col: #dd2a2a;
$sec-col: #29323c;
$ter-col: #e8e8e8;

$bg-col: #f5f5f5;


$prim-font-col: #e8e8e8;
$sec-font-col: #29323c;




// background: radial-gradient(ellipse at center, #495664, #29323C);