.form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-size(phone-portrait) {
    padding: 0 1.5rem;
  }

  @include for-size(phone-landscape) {
    padding: 0 1.5rem;
  }
  
  @include for-size(desktops) {
    max-width: 50rem;
    margin: 0 auto;
  }

  

  &__input {
    width: 41rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include for-size(phone-portrait) {
      flex-direction: column; 
      width: 100%;
    }

    @include for-size(phone-landscape) {
      flex-direction: column; 
      width: 100%;
    }

    input {
      width: 30rem !important;
      padding: 1.55rem 2rem;
      margin-bottom: 2.5rem;
      background-color: transparent;
      border: 1px solid $ter-col;
      border-radius: 0.2rem;
      transition: background-color .3s ease, color .3s ease, transform .2s ease;

      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: $prim-font-col;

      @include for-size(phone-portrait) {
        width: 100% !important;
      }

      @include for-size(phone-landscape) {
        width: 100% !important;
      }

      @include for-size(desktops) {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.1rem;
      }

      @include for-size(desktop-large) {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
      }

      &:focus {
        background-color: $ter-col;
        color: $sec-font-col;
        transform: scale(1.2);

        @include for-size(phone-portrait) {
          transform: scale(1);
        }

        @include for-size(phone-landscape) {
          transform: scale(1);
        }

        @include for-size(desktops) {
          transform: scale(1.1);
        }
      }
    }

    label {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: $prim-font-col;

      margin-bottom: 1rem;

      @include for-size(desktops) {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.1rem;
      }

      @include for-size(desktop-large) {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
      }
    }
  }

  &__textarea {
    width: 41rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2.5rem;

    @include for-size(phone-portrait) {
      flex-direction: column;
      width: 100%; 
    }

    @include for-size(phone-landscape) {
      flex-direction: column; 
      width: 100%;
    }

    textarea {
      width: 30rem;
      height: 14.5rem;
      padding: 1.55rem 2rem;
      resize: none;
      background-color: transparent;
      border: 1px solid $ter-col;
      border-radius: 0.2rem;
      transition: background-color .3s ease, color .3s ease, transform .2s ease;

      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: $prim-font-col;

      @include for-size(phone-portrait) {
        width: 100% !important;
      }

      @include for-size(phone-landscape) {
        width: 100% !important;
      }

      @include for-size(desktops) {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.1rem;
      }

      @include for-size(desktop-large) {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
      }

      &:focus {
        background-color: $ter-col;
        color: $sec-font-col;
        transform: scale(1.2);

        @include for-size(phone-portrait) {
          transform: scale(1);
        }

        @include for-size(phone-landscape) {
          transform: scale(1);
        }

        @include for-size(desktops) {
          transform: scale(1.1);
        }
      }

    }

    label {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: $prim-font-col;

      margin-bottom: 1rem;

      @include for-size(desktops) {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.1rem;
      }

      @include for-size(desktop-large) {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
      }
    }
  }

  &__btn {
    width: 41rem;
    display: flex;
    justify-content: flex-end;

    @include for-size(phone-portrait) {
      flex-direction: column;
      align-items: center;
      width: 100%; 
    }

    @include for-size(phone-landscape) {
      flex-direction: column;
      align-items: center;
    }

    input {
      padding: 1.7rem 3.5rem;
      background-color: transparent;
      border: 1px solid $ter-col;
      border-radius: 0.2rem;
      cursor: pointer;

      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.3rem;
      color: $prim-font-col;
      transition: background-color 0.2s ease-in, color 0.2s ease-in;

      &:hover {
        background-color: $ter-col;
        color: $sec-font-col;
      }
    }
  }
}
