.social {
  display: flex;

  &__link {
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $sec-col;
  }


}