.up__arrow-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  opacity: .2;
  background: radial-gradient(ellipse at center, #495664, #29323C);
  border-radius: 50%;
  z-index: 1;
  
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}

.up__arrow-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4.4rem;
  height: 2.3rem;
  fill: $ter-col;
  transform: rotate(180deg) translateX(50%) translateY(50%);
}
