.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 107rem;
  height: 100%;
  margin: auto;
  padding: 0 1.5rem 0 1.5rem;
  background-color: transparent;

}

.main {
  position: relative;
}